## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
**/src/*.d.ts
**/src/*.js
**/src/*.js.map

**/test/*.d.ts
**/test/*.js
**/test/*.js.map

**/stories/*.d.ts
**/stories/*.js
**/stories/*.js.map

storybook-static
custom-elements.json
